@model BadamApplicationAndForum.Data.ViewModels.SliderDeleteViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div>
    <dl class="dl-horizontal">
        <dt hidden>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd hidden>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd>
            @if (Model.ImageUrl != null || Model.ImageUrl != "")
            {
                <a href="~/SliderImages/@Model.ImageUrl"><img class="img-fluid" src="~/SliderImages/@Model.ImageUrl" width="350" height="250" style="padding-top:16px;"></a>
            }
            else
            {
                <img src="~/Gentelella/build/images/noimage.png" width="100" height="100" />
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("ویرایش", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">بازگشت</a>
</div>
