@model BadamApplicationAndForum.Data.ViewModels.MessageRepliesListViewModel

@{
    ViewData["Title"] = "ReplyList";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-lg-8">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">@Model.Title</h4> @Model.Content
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">پاسخ های شما به پیام</h4>
                @if (Model.RepliesModel.Count() > 0)
                {
                    <ul class="list-unstyled m-t-40">
                        @foreach (var item in Model.RepliesModel)
                        {
                            <li class="media">
                                <div class="media-body">
                                    @item.Reply
                                </div>
                                <h6>@item.Created</h6>
                            </li>
                            <hr />
                        }
                    </ul>
                }
                else
                {
                    <h5>پاسخی به این پیام نداده اید</h5>
                }
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h4 class="m-b-20">ایجاد پاسخ</h4>
                <form method="post" asp-action="Reply" asp-controller="Inbox" asp-area="Admin" id="replyForm">
                    <textarea asp-for="NewReply" rows="3" class="form-control"></textarea>
                    <br />
                    <button onclick="sendReply()" class="btn btn-info btn-rounded">ارسال</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">اطلاعات پیام</h4>
            </div>
            <div class="card-body bg-light">
                <div class="row text-center">
                    <div class="col-6 m-t-10 m-b-10">
                        @Model.Created
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">فرستنده</h4>
                <div class="profile-pic m-b-20 m-t-20">
                    <h4 class="m-t-20 m-b-0">@Model.AppUserName</h4>
                    <a href="@Model.AppUserEmail">@Model.AppUserEmail</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        function sendReply() {
            var postData = {
                newReply: vmodel.get('NewReply')
            };
            
            $("#replyForm").submit(function (e) {
                var vmodel = new FormData($('#replyForm')[0]);
                e.preventDefault();
                $.ajax({
                    url: '/Admin/Inbox/Reply/',
                    type: "POST",
                    data: postData,
                    contentType: "application/json",
                    success: function (data) {
                        if (data.isSuccess == true) {
                        }
                    }
                });
            });
        };
    </script>
}