@model IEnumerable<BadamApplicationAndForum.Data.ViewModels.ProfessorsListViewModel>
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@using BadamApplicationAndForum.Helpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<p>
    @if ((AuthorizationService.AuthorizeAsync(User, Permissions.Personels.Create)).Result.Succeeded)
    {
        <a asp-action="Create" asp-controller="Personel" asp-area="Admin" class="btn btn-outline-info btn-rounded">ایجاد استاد</a>
    }
</p>

<div class="card-body">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item"> <a class="nav-link active show" id="he-tab" data-toggle="tab" href="#he" role="tab" aria-controls="he" aria-expanded="true" aria-selected="true"><span class="hidden-sm-up"></span> <span class="hidden-xs-down">اقتصاد سلامت</span></a> </li>
        <li class="nav-item"> <a class="nav-link" id="hit-tab" data-toggle="tab" href="#hit" role="tab" aria-controls="hit" aria-selected="false"><span class="hidden-sm-up"></span> <span class="hidden-xs-down">فناوری اطلاعات سلامت</span></a></li>
        <li class="nav-item"> <a class="nav-link" id="hcm-tab" data-toggle="tab" href="#hcm" role="tab" aria-controls="hcm" aria-selected="false"><span class="hidden-sm-up"></span> <span class="hidden-xs-down">مدیریت و سیاست گذاری سلامت</span></a></li>
        <li class="nav-item"> <a class="nav-link" id="lmi-tab" data-toggle="tab" href="#lmi" role="tab" aria-controls="lmi" aria-selected="false"><span class="hidden-sm-up"></span> <span class="hidden-xs-down">کتابداری و اطلاع رسانی پزشکی</span></a></li>
    </ul>
    <div class="tab-content tabcontent-border p-20" id="myTabContent">
        <div role="tabpanel" class="tab-pane fade active show" id="he" aria-labelledby="he-tab">
            <div class="row">
                @foreach (var item in Model)
                {
                    if (item.Group.Equals("HE"))
                    {
                        <div class="col-lg-3">
                            <div class="card myBox">
                                @if (item.ImageUrl != "")
                                {
                                    <img class="card-img-top img-responsive" src="~/ProfessorImages/@item.ImageUrl" height="300" alt="Card image cap">

                                }
                                else
                                {
                                    <img class="card-img-top img-responsive" src="~/AdminTemplate/assets/images/profile.png" height="300" alt="Card image cap">

                                }
                                <div class="card-body">
                                    <div class="d-flex no-block align-items-center m-b-15">
                                        @*<span><i class="ti-calendar"></i> 20 May 2018</span>*@
                                        @*<div class="ml-auto">
                                                <a href="javascript:void(0)" class="link"><i class="ti-comments"></i> 3 Comments</a>
                                            </div>*@
                                    </div>
                                    <h3 class="font-normal">@item.Name</h3>
                                    <p class="m-b-0 m-t-10">@item.Email</p>
                                    <a asp-action="Details" asp-controller="Personel" asp-area="Admin" asp-route-Id="@item.Id" class="btn btn-success btn-rounded waves-effect waves-light m-t-20">جزئیات</a>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="tab-pane fade" id="hit" role="tabpanel" aria-labelledby="hit-tab">
            <div class="row">
                @foreach (var item in Model)
                {
                    if (item.Group.Equals("HIT"))
                    {
                        <div class="col-lg-3">
                            <div class="card myBox">
                                @if (item.ImageUrl != "")
                                {
                                    <img class="card-img-top img-responsive" src="@item.ImageUrl" height="300" alt="Card image cap">

                                }
                                else
                                {
                                    <img class="card-img-top img-responsive" src="~/AdminTemplate/assets/images/profile.png" height="300" alt="Card image cap">

                                }
                                <div class="card-body">
                                    <div class="d-flex no-block align-items-center m-b-15">
                                        @*<span><i class="ti-calendar"></i> 20 May 2018</span>*@
                                        @*<div class="ml-auto">
                                                <a href="javascript:void(0)" class="link"><i class="ti-comments"></i> 3 Comments</a>
                                            </div>*@
                                    </div>
                                    <h3 class="font-normal">@item.Name</h3>
                                    <p class="m-b-0 m-t-10">@item.Email</p>
                                    <a asp-action="Details" asp-controller="Personel" asp-area="Admin" asp-route-Id="@item.Id" class="btn btn-success btn-rounded waves-effect waves-light m-t-20">جزئیات</a>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="tab-pane fade" id="hcm" role="tabpanel" aria-labelledby="hcm-tab">
            <div class="row">
                @foreach (var item in Model)
                {
                    if (item.Group.Equals("HCM"))
                    {
                        <div class="col-lg-3">
                            <div class="card myBox">
                                @if (item.ImageUrl != "")
                                {
                                    <img class="card-img-top img-responsive" src="@item.ImageUrl" height="300" alt="Card image cap">

                                }
                                else
                                {
                                    <img class="card-img-top img-responsive" src="~/AdminTemplate/assets/images/profile.png" height="300" alt="Card image cap">

                                }
                                <div class="card-body">
                                    <div class="d-flex no-block align-items-center m-b-15">
                                        @*<span><i class="ti-calendar"></i> 20 May 2018</span>*@
                                        @*<div class="ml-auto">
                                                <a href="javascript:void(0)" class="link"><i class="ti-comments"></i> 3 Comments</a>
                                            </div>*@
                                    </div>
                                    <h3 class="font-normal">@item.Name</h3>
                                    <p class="m-b-0 m-t-10">@item.Email</p>
                                    <a asp-action="Details" asp-controller="Personel" asp-area="Admin" asp-route-Id="@item.Id" class="btn btn-success btn-rounded waves-effect waves-light m-t-20">جزئیات</a>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="tab-pane fade" id="lmi" role="tabpanel" aria-labelledby="lmi-tab">
            <div class="row">
                @foreach (var item in Model)
                {
                    if (item.Group.Equals("LMI"))
                    {
                        <div class="col-lg-3">
                            <div class="card myBox">
                                @if (item.ImageUrl != "")
                                {
                                    <img class="card-img-top img-responsive" src="@item.ImageUrl" height="300" alt="Card image cap">

                                }
                                else
                                {
                                    <img class="card-img-top img-responsive" src="~/AdminTemplate/assets/images/profile.png" height="300" alt="Card image cap">

                                }
                                <div class="card-body">
                                    <div class="d-flex no-block align-items-center m-b-15">
                                        @*<span><i class="ti-calendar"></i> 20 May 2018</span>*@
                                        @*<div class="ml-auto">
                                                <a href="javascript:void(0)" class="link"><i class="ti-comments"></i> 3 Comments</a>
                                            </div>*@
                                    </div>
                                    <h3 class="font-normal">@item.Name</h3>
                                    <p class="m-b-0 m-t-10">@item.Email</p>
                                    <a asp-action="Details" asp-controller="Personel" asp-area="Admin" asp-route-Id="@item.Id" class="btn btn-success btn-rounded waves-effect waves-light m-t-20">جزئیات</a>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>

    </div>
</div>