@model BadamApplicationAndForum.Data.ViewModels.UserDeleteViewModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h3>آیا از حذف کاربر اطمینان دارید؟</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt hidden>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd hidden>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MobileNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MobileNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="حذف" class="btn btn-danger" /> |
        <a asp-action="Index">بازگشت</a>
    </form>
</div>
